<!DOCTYPE html>
<html>
  <head>
    <title>Grocery Shop Helper></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">GroceryShopHelper</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Grocery List</a></li>
            <li><a href="#">Nearby Stores</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>
      </nav>
      <div class="container">
    </div> <!-- Closing container -->

  </body>
</html>
