.navbar,
.btn-default,
.btn-default:hover,
.btn-default:active:focus,
.btn-default:active {
    background-color: #E74C3C;
    color: white;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: white;
    color: #E74C3C;
}

body {
    background-color: #F2F1EF;
}

.btn-default {
    display: block;
    float: left;
}

form,
#item-list {
    margin-top: 2%;
}

#item-list {
    box-shadow: 1px 1px 1px 1px gray;
    padding: 0.5%;
    background: white;
}
